<div id="categoryList">
	<div class="category-header">
		<div class="actions">
			<a href="/">Categories</a>
			<% if(unread !== null) { %>
				<% if(unread) { %>
					<a href="?">Unread</a>
				<% } else { %>
					<a href="?unread=true">All</a>
				<% } %>
			<% } %>
		</div>
		<h1><%= category.name %></h1>
	</div>
	<div id="articleContainer"></div>
	<div class="clear"></div>
	<div class="category-footer">
		<div class="actions">
			<a href="/<%= category.id %>" data-offset="-1" id="btPrevious">«</a>
			<a href="/<%= category.id %>" data-offset="1" id="btNext">»</a>
		</div>
	</div>
	<div>
		<ul class="feed-items" id="all-items">
			<% for(var i = 0; i < items.length; ++i) {
				var item = items[i];%>
				<li data-feedid="<%= item.feedId %>" data-order="<%= i %>" class="<%= item.read ? "read" : "unread" %>">
					<a href="/i/<%= item.id %>" title="<%= item.title %>">
						<span><%- item.title %></span>
						<% if(item.thumbUrl) { %>
							<img class="thumb" src="<%= item.thumbUrl %>" />
						<% } %>
					</a>
				</li>
			<% } %>
		</ul>
	</div>
	<script type="text/javascript">
		$(function() {
			$("#all-items li a")
				.click(function(evt) {
					evt.preventDefault();
					
					window.history.pushState({ }, this.title, this.href);
					$("#categoryList").addClass("article-view");
					$("#articleContainer").load(this.href + " #article");
				});
				
			$(window).on("popstate", function(evt) {
				var state = evt.originalEvent.state;
				if(state == null) {
					$("#categoryList").removeClass("article-view");
					$("#articleContainer").html("");
				} else {
					$("#categoryList").addClass("article-view");
					$("#articleContainer").load(window.location + " #article");
				}
			});
			
			$(".category-footer .actions a").click(function(evt) {
				var offset = parseInt($(this).attr("data-offset"));
				var currentId = window.location + "";
				var current = $("#all-items a")
					.filter(function() {
						return this.href == currentId;
					})
					.closest("li");
				
				var target = offset == 1 ? current.next() : current.prev();
				if(target) {
					evt.preventDefault();
					target.find("a").click();
				}
			});
		});
	</script>
</div>