<h1><%= title %></h1>
<form method="post">
	<%- form.toHTML(function(name, field, opt) {
		var html = [
			'<div class="',
			field.classes().join(' '),
			'">',
			
			"<span>",
			field.errorHTML(),
			field.labelHTML(name, field.id),
			"</span>",
			field.widget.toHTML(name, field),
			
			"</div>"
		];
		
		return html.join("");
	}) %>

	<div class="buttons">
		<input type="submit" value="Save" />
		<% if(id) { %>
			<a href="<%= id %>/delete">Delete</a>
		<% } %>
		<% for(var name in actions) {
			var cfg = actions[name]; %>
			<a href="<%= cfg.path.replace(":id", id) %>"><%= name %></a>
		<% } %>
	</div>
</form>